.column-name {
    display: flex;
    justify-content: space-between;
    border-bottom: dashed black 1px;
    color: gray;
}

.checkbox {
    margin: auto;
}

.column-name-item {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
}
