.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.selections {
    display: flex;
}

.selected {
    flex-basis: 100%;
}

.page-numbers {
    display: flex;
    flex-basis: 100%;
    justify-content: end;
}

.button-no {
    background-color: white;
}

button {
    margin: 0.5%;
}
