.header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}

.input {
    background: transparent;
    outline: none;
    border: none;
}

.form {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(143, 143, 143, 0.456);
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.search-icon {
    transition: 0.25s;
}

.search-icon:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.delete-icon {
    font-size: 2rem;
    color: red;
    padding: 0.5rem;
    transition: 0.25s;
}

.delete-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}
