.table-row {
    display: flex;
    justify-content: space-between;
}

.checkbox {
    margin: auto;
}

.row-item {
    flex-basis: 100%;
    display: flex;
    align-items: center;
}

.icon-edit {
    padding-right: 1rem;
    font-size: 1.5rem;
    transition: 0.25s;
}

.icon-delete {
    padding-right: 1rem;
    font-size: 1.5rem;
    transition: 0.25s;
    color: red;
}

.icon-edit:hover,
.icon-delete:hover {
    font-size: 2rem;
    padding-right: 0.5rem;
}
